<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tRPC TODO API - Raul CV</title>
</head>

<body>
  <h1 style="text-align:center; margin-top: 100px; color: goldenrod">Hello I'M RAUL</h1>
  <h2 style="text-align:center; margin-top: 100px">tRPC API Initial route page</h2>
  <h3 style="text-align:center">If you want to see the code, loop up that on github.com/raulcv: <a target="_blank" href=" https://github.com/Raulcv/trpc-todo">tRPC API integrated with Reacjs</a></h3>
</body>

</html>